<ion-view view-title="時間區段設定">
    <ion-content class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">名稱</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">時間(起)</span>
                    <input type="time">
                </label>
                <label class="item item-input">
                    <span class="input-label">時間(迄)</span>
                    <input type="time">
                </label>
            </div>
        <button class="button icon icon-plus-round button-block button-positive">
            加入
        </button>
        <ion-list>
            <ion-item>
                <h2>早餐</h2>
                <p>A.M 6:00 - A.M 8:00</p>
                <ion-option-button class="button-positive">修改</ion-option-button>
                <ion-option-button class="button-assertive">刪除</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
