<ion-view view-title="快速選擇">
    <ion-content class="padding">
        <ion-spinner ng-show="show"></ion-spinner>
        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <div>
                    There is a fire in <b>sector 3</b>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                Health...
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </div>
        </div>
        <div>
            <ul class="list list-inset">
                <li class="item">1</li>
                <li class="item">1</li>
                <li class="item">1</li>
                <li class="item">1</li>
            </ul>
        </div>
    </ion-content>
</ion-view>
